.badge {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 30px;

	&--blue {
		background: #20639b;
	}

	&--pink {
		background: #c97b84;
	}

	&--yellow {
		background: #f6d55c;
	}

	&--lime {
		background: #3caea3;
	}

	&--purple {
		background: #7d2e68;
	}

	&--red {
		background: #ed553b;
	}
}
