.list {
	$self: &;

	&__item {
		display: flex;
		align-items: center;
		cursor: pointer;
		padding: 10px 12px;
		margin-bottom: 4px;
		border-radius: 4px;
		transition: background 0.15s ease-in-out;

		i {
			margin-right: 8px;

			img {
				opacity: 0.6;
				margin: 0 -4px;
			}
		}

		&-name {
			flex: 1;
			// display: flex;
			// justify-content: space-between;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			width: 10px;

			i {
				font-style: normal;
				margin-left: 8px;
			}
		}

		&-count {
			margin-right: 6px;
		}

		&:hover {
			background: rgba(0, 0, 0, 0.034);
		}

		&:hover #{$self}__item--remove {
			opacity: 0.2;
		}

		&.active {
			background: #fff;
			box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
		}
	}

	&__item--overall {
		margin-bottom: 20px !important;
	}

	#{$self}__item--remove {
		opacity: 0;
		width: 11px;
		height: 11px;
		transition: opacity 0.15s ease-in-out;

		&:hover {
			opacity: 0.5;
		}
	}
}
