.add-list {
	margin-top: 48px;
	position: relative;

	&__button {
		background: none;
		border: none;
		// color: #767676;
		opacity: 0.5;
		cursor: pointer;
		width: 100%;
		position: relative;
		letter-spacing: 0.15px;

		&:hover {
			opacity: 1;
		}

		&::before {
			content: '';
			position: absolute;
			background-image: url('../../assets/img/add.svg');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			left: 8px;
			top: 50%;
			transform: translateY(-50%);
			width: 10px;
			height: 10px;
		}
	}

	&__popup {
		height: 150px;
		width: 240px;
		background: #ffffff;
		box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
		border-radius: 10px;
		padding: 18px;
		position: absolute;
		top: 30px;
		left: 6px;

		.button {
			width: 100%;
			margin-top: 13px;
		}

		&-close-btn {
			position: absolute;
			right: -8px;
			top: -8px;
			cursor: pointer;
		}

		&-colors {
			display: flex;
			justify-content: space-between;
			margin-top: 13px;

			.badge {
				width: 18px;
				height: 18px;
				cursor: pointer;
				border: 2px solid transparent;

				&:hover {
					border: 2px solid lighten(#525252, 10%);
				}

				&.active {
					border: 2px solid #525252;
				}
			}
		}
	}
}
